<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\logs\internallog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="Database" name="database" 
			dbProvider="Npgsql.NpgsqlConnection, Npgsql"
			connectionString="Host=db-postgresql-test-do-user-8411008-0.b.db.ondigitalocean.com;Port=25061;Database=pool1;Username=finkolikapi;Password=YTG+fuSGD%d$jz3k;Pooling=false;Timeout=300;CommandTimeout=300;SslMode=Require;Trust Server Certificate=true;">
			<commandText>
				insert into tbl_syslogs ("logged", "level", "message", "logger", "machinename", "callsite", "url", "shortdesc", "requestdata", "exception", "stacktrace")
				values (:p_logged, :p_level, :p_message, :p_logger, :p_machinename, :p_callSite, :p_url, :p_shortdesc, :p_requestdata, :p_exception, :p_stacktrace );
			</commandText>
			<parameter name="p_logged" layout="${date}" allowDbNull="true" />
			<parameter name="p_level" layout="${level}" allowDbNull="true"/>
			<parameter name="p_message" layout="${message}" allowDbNull="true"/>
			<parameter name="p_logger" layout="${logger}" allowDbNull="true"/>
			<parameter name="p_machinename" layout="${machinename}" allowDbNull="true"/>
			<parameter name="p_callSite" layout="${callsite:filename=true}" allowDbNull="true"/>
			<parameter name="p_url" layout="${event-properties:url:format=@}" allowDbNull="true"/>
			<parameter name="p_shortdesc" layout="${event-properties:shortdesc:format=@}" allowDbNull="true"/>
			<parameter name="p_requestdata" layout="${event-properties:requestdata:format=@}" allowDbNull="true"/>		
			<parameter name="p_exception" layout="${exception:tostring}" allowDbNull="true"/>
			<parameter name="p_stacktrace" layout="${stacktrace}" allowDbNull="true"/>
		</target>
	</targets>
	<rules>
		<!--BlackHole without writeTo-->
		<logger name="*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>
